<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kitbag">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".fragment.container.FragmentContainerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".authentication.TakeFacePhotoActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".authentication.NidInformationActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".authentication.DeliverymanRegistrationActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.ProductHandOverActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".chat.ChatDetailsActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".chat.MessageActivity" />
        <activity
            android:name=".chat.MessageActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MyCartActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MyPostActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".authentication.ResetPasswordActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".authentication.ForgotPasswordActivity" />
        <activity
            android:name=".authentication.ForgotPasswordActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".authentication.LoginActivity" />
        <activity
            android:name=".authentication.OtpVerificationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.NotificationsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.PostInfoActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.PostActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".authentication.SignUpActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".authentication.LoginActivity" />
        <activity
            android:name=".authentication.LoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>